<launch>
  <arg name="mavros" default="false" />
  <arg name="config" default="etc/init.d-posix/rcS"/>
  <arg name="px4_model" default="iris"/>
  <node
  name="px4_instance"
  pkg="sitl_launcher"
  type="run_px4.sh"
  args="$(arg config) $(arg px4_model)"
  cwd="node"
  output="screen" />
  <include if="$(arg mavros)" file="$(find mavros)/launch/px4.launch">
    <!-- ns="/@(vehicle_name)" -->
    <arg name="fcu_url" value="udp://:14540@localhost:14557" />
    <!-- <arg name="fcu_url" value="udp://:@(ros_interface_port4)@@@(local_ip):@(ros_interface_port3)" />
    <arg name="tgt_system" value="@(mav_sys_id)" /> -->
  </include>
</launch>
